django==3.2.14
# openpyxl
# django_heroku
django-graphos
django-extensions
python-dateutil
plotly
pandas
django-bootstrap-modal-forms
django-bstrap-modals
pyppeteer
pyppeteer_stealth
requests
djangorestframework
zappa
python-decouple==3.6
psycopg2
django-cors-headers
undetected-chromedriver
django-filter==22.1
# python-telegram-bot==20.0a2
pytest