django==3.2.14
# openpyxl
# django_heroku
django-graphos
django-extensions
python-dateutil
plotly
django-bootstrap-modal-forms
django-bstrap-modals
pyppeteer
pyppeteer_stealth
requests
djangorestframework
zappa
python-decouple==3.6
psycopg2-binary
django-cors-headers
undetected-chromedriver
django-filter==22.1
# python-telegram-bot==20.0a2
pytest
celery
django-kms-field
django-celery-results
colorlog
django-log-request-id
django-celery-beat
gunicorn==20.1.0
dj_rest_auth
django-allauth
selenium-stealth
chromedriver_autoinstaller
pandas
gspread