{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

    <!-- Header -->
    {% include "includes/_info_header.html" %}

    <div class="container-fluid mt--7">
        {##}
        <div class="row">
            <div class="col">
                <select id="selectbox" name="" onchange="javascript:location.href = this.value;">
                    {% for element in taglist %}
                        <option value={% url "tag" %}?{% query_transform request id=element.id %}>{{ element }}</option>
                    {% endfor %}
                </select>
                {#          </div>#}
            </div>
        </div>

        <br><br>
        <br><br>
        <div class="container-fluid mt--7">
            {% include "includes/_graphs.html" %}
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
