{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block stylesheets %}
        <style>
        select {
            width: 140px;
            height: 35px;
            padding: 4px;
            border-radius: 4px;
            box-shadow: 2px 2px 8px #999;
            background: #eee;
            border: none;
            outline: none;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }

        label {
            position: relative;
        }

        label:after {
            content: '<>';
            font: 11px "Consolas", monospace;
            color: #666;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 8px;
            top: 2px;
            padding: 0 0 2px;
            border-bottom: 1px solid #ddd;
            position: absolute;
            pointer-events: none;
        }

        label:before {
            content: '';
            right: 6px;
            top: 0px;
            width: 20px;
            height: 20px;
            background: #eee;
            position: absolute;
            pointer-events: none;
            display: block;
        }

        .inactiveLink {
            pointer-events: none;
            cursor: default;
        }

        test {
            color: orange;
        }
    </style>
{% endblock stylesheets %}
{% block content %}

    <!-- Header -->
    {% include "includes/_info_header.html" %}

    <div class="container-fluid mt--7">
        {##}
        <div class="row">
            <div class="col">
                <select id="selectbox" name="" onchange="javascript:location.href = this.value;">
                    {% for element in taglist %}
                        <option value={% url "tag" %}?{% query_transform request id=element.id %}>{{ element }}</option>
                    {% endfor %}
                </select>
                {#          </div>#}
            </div>
        </div>

        <br><br>
        <br><br>
        <div class="container-fluid mt--7">
            {% include "includes/_graphs.html" %}
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
