.progressBar {
  position: relative;
  height: 20px;
  width: 75%;
  border-radius: 50px;
  border: 1px solid #333;
  margin-left: 14px;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.card {
  width: 80%;
  padding-bottom: 10px;
  padding-left: 20px;
}

.warning {
  color: orangered;
}
