{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    {% include "includes/_info_header.html" %}

    <div class="container-fluid mt--7">
        {% include "bsmodals/alert.html" %}
        {% include "_modal.html" %}
        {#        <!-- Create book button -->#}
        {% if not_start_date %}

        <button id="create-transaction" class="btn btn-primary invisible" type="button"  name="button">Create book</button>
        <script>
            $("document").ready(function () {
                setTimeout(function () {
                    $("#create-transaction").trigger('click');
                }, 0);
            });
        </script>


        {% endif %}

        {% include "includes/_graphs.html" %}

    </div>


    {% include "includes/footer.html" %}



{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#create-transaction").modalForm({
                formURL: "{% url 'create_transaction' %}"
            });

        });
        $("document").ready(function () {
            setTimeout(function () {
                $("#create-transaction").trigger('click');
            }, 0);
        });
    </script>

{% endblock javascripts %}
