{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    {% include "includes/_info_header.html" %}

    <div class="container-fluid mt--7">
        <!-- Create book button -->
        {#        <button id="create-transaction" class="btn btn-primary" type="button" name="button">Create book</button>#}
        {% include "includes/_graphs.html" %}

    </div>
    {#      {% include "_modal.html" %}#}

    {% include "includes/footer.html" %}



{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $("#create-transaction").modalForm({
                formURL: "{% url 'create_transaction' %}"
            });

        });
    </script>

{% endblock javascripts %}
